APP_NAME=Verval
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=ppg26
DB_USERNAME=postgres
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

VITE_APP_NAME="${APP_NAME}"

## S3-compatible storage (Berita Acara, Dokumen Dinas)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_ENDPOINT=
AWS_USE_PATH_STYLE_ENDPOINT=true

SOCIALITE_ALLOWED_DRIVERS=google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI="${APP_URL}/auth/google/callback"


## Fetch PPG
PPG_BACKEND_BASE_URL=https://ppg-backend.simpkb.id
PPG_INSTANSI_ID=801055
PPG_ENDPOINT_PATH=ppgdj-mahasiswa/keberminatan-verifikasi
PPG_COOKIE=
PPG_CAS_AUTH=
PPG_XSRF_TOKEN=
PPG_SESSION=
PPG_GELOMBANG=2
PPG_TAHUN=2026
PPG_LIMIT=10
PPG_DELAY_SECONDS=3
PPG_START_PAGE=1
PPG_MAX_PAGES=0
PPG_OUTPUT_PATH=repos/py/potensi_keberminatan.json
PPG_PESERTA_BERMINAT_ENDPOINT_PATH=ppgdj-mahasiswa/keberminatan
PPG_PESERTA_BERMINAT_OUTPUT_PATH=repos/py/peserta_berminat.json
PPG_VERVAL_ENDPOINT_PATH=ppgdj-mahasiswa/verval
PPG_VERVAL_OUTPUT_PATH=repos/py/verval_profil.json
